n8n-workflows/WF-02_-Auth--RBAC-Check.json
{
    "updatedAt": "2026-03-12T03:22:03.182Z",
    "createdAt": "2026-03-12T03:22:03.182Z",
    "id": "KKBxr8wB5INW2Wwp",
    "name": "WF-02: Auth & RBAC Check",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {},
            "id": "02-trigger",
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "value": "1F0Ub4hPwoFNQQBVpIxx0IYKiZq8ihetuKeKHBB516ng",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=1196603743",
                    "mode": "id"
                },
                "options": {}
            },
            "id": "02-read",
            "name": "Read EMPLOYEES",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                470,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "R9k8DzUEcW6HjwIn",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const employees = $input.all().map(i => i.json);\nconst triggerData = $('Execute Workflow Trigger').first().json;\nconst chatId = String(triggerData.chat_id || '');\nconst requiredPermission = triggerData.required_permission || '';\n\nconst user = employees.find(e => String(e.telegram_chat_id) === chatId && e.status === 'active');\n\nif (!user) {\n  return [{ json: { authorized: false, reason: 'user_not_found', user: null } }];\n}\n\nconst role = user.role || 'employee';\n\nconst PERMISSIONS = {\n  admin: ['create_operation','view_own','view_all','approve','edit','delete','view_reports','manage_users','manage_dicts','import_sheets','view_audit'],\n  finance_manager: ['create_operation','view_own','view_all','approve','view_reports','import_sheets'],\n  employee: ['create_operation','view_own'],\n  viewer: ['view_all','view_reports']\n};\n\nconst userPerms = PERMISSIONS[role] || [];\nconst hasPermission = !requiredPermission || userPerms.includes(requiredPermission);\n\nreturn [{ json: {\n  authorized: hasPermission,\n  reason: hasPermission ? 'ok' : 'permission_denied',\n  user: {\n    user_id: user.user_id,\n    telegram_chat_id: user.telegram_chat_id,\n    name: user.name,\n    role: role,\n    permissions: userPerms\n  }\n}}];"
            },
            "id": "02-check",
            "name": "Check Auth & Permissions",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                690,
                300
            ]
        }
    ],
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Read EMPLOYEES",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read EMPLOYEES": {
            "main": [
                [
                    {
                        "node": "Check Auth & Permissions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "fa84d65a-df2a-42ce-b461-da50eee7e246",
    "activeVersionId": "fa84d65a-df2a-42ce-b461-da50eee7e246",
    "versionCounter": 11,
    "triggerCount": 0,
    "shared": [
        {
            "updatedAt": "2026-03-12T03:22:03.182Z",
            "createdAt": "2026-03-12T03:22:03.182Z",
            "role": "workflow:owner",
            "workflowId": "KKBxr8wB5INW2Wwp",
            "projectId": "pxhtEMeW80Eo5SKP",
            "project": {
                "updatedAt": "2026-03-10T17:12:13.408Z",
                "createdAt": "2026-03-09T07:53:55.057Z",
                "id": "pxhtEMeW80Eo5SKP",
                "name": "Sergei Kuznetsov <kuznetsovsd89@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "60dd4e61-df83-4185-9492-a10f6ff68e03"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-12T03:22:03.189Z",
        "createdAt": "2026-03-12T03:22:03.189Z",
        "versionId": "fa84d65a-df2a-42ce-b461-da50eee7e246",
        "workflowId": "KKBxr8wB5INW2Wwp",
        "nodes": [
            {
                "parameters": {},
                "id": "02-trigger",
                "name": "Execute Workflow Trigger",
                "type": "n8n-nodes-base.executeWorkflowTrigger",
                "typeVersion": 1,
                "position": [
                    250,
                    300
                ]
            },
            {
                "parameters": {
                    "operation": "read",
                    "documentId": {
                        "__rl": true,
                        "value": "1F0Ub4hPwoFNQQBVpIxx0IYKiZq8ihetuKeKHBB516ng",
                        "mode": "id"
                    },
                    "sheetName": {
                        "__rl": true,
                        "value": "gid=1196603743",
                        "mode": "id"
                    },
                    "options": {}
                },
                "id": "02-read",
                "name": "Read EMPLOYEES",
                "type": "n8n-nodes-base.googleSheets",
                "typeVersion": 4.5,
                "position": [
                    470,
                    300
                ],
                "credentials": {
                    "googleSheetsOAuth2Api": {
                        "id": "R9k8DzUEcW6HjwIn",
                        "name": "Google Sheets account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const employees = $input.all().map(i => i.json);\nconst triggerData = $('Execute Workflow Trigger').first().json;\nconst chatId = String(triggerData.chat_id || '');\nconst requiredPermission = triggerData.required_permission || '';\n\nconst user = employees.find(e => String(e.telegram_chat_id) === chatId && e.status === 'active');\n\nif (!user) {\n  return [{ json: { authorized: false, reason: 'user_not_found', user: null } }];\n}\n\nconst role = user.role || 'employee';\n\nconst PERMISSIONS = {\n  admin: ['create_operation','view_own','view_all','approve','edit','delete','view_reports','manage_users','manage_dicts','import_sheets','view_audit'],\n  finance_manager: ['create_operation','view_own','view_all','approve','view_reports','import_sheets'],\n  employee: ['create_operation','view_own'],\n  viewer: ['view_all','view_reports']\n};\n\nconst userPerms = PERMISSIONS[role] || [];\nconst hasPermission = !requiredPermission || userPerms.includes(requiredPermission);\n\nreturn [{ json: {\n  authorized: hasPermission,\n  reason: hasPermission ? 'ok' : 'permission_denied',\n  user: {\n    user_id: user.user_id,\n    telegram_chat_id: user.telegram_chat_id,\n    name: user.name,\n    role: role,\n    permissions: userPerms\n  }\n}}];"
                },
                "id": "02-check",
                "name": "Check Auth & Permissions",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    690,
                    300
                ]
            }
        ],
        "connections": {
            "Execute Workflow Trigger": {
                "main": [
                    [
                        {
                            "node": "Read EMPLOYEES",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Read EMPLOYEES": {
                "main": [
                    [
                        {
                            "node": "Check Auth & Permissions",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Sergei Kuznetsov",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-12T03:22:03.366Z",
                "id": 17,
                "workflowId": "KKBxr8wB5INW2Wwp",
                "versionId": "fa84d65a-df2a-42ce-b461-da50eee7e246",
                "event": "activated",
                "userId": "60dd4e61-df83-4185-9492-a10f6ff68e03"
            }
        ]
    }
}
